node_modules/

# coverage
.nyc_output/
coverage/

dist/
lib/
tmp/

benchmark/url.js
benchmark/comp.js
benchmark/old.js
test/fixtures/url-tests.js

.eslintcache
*.tgz
*.log

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
